.app-container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #CAE9F5;
  color: green;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo-container {
  text-align: top;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.sidebar h2 {
  font-size: 18px;
  margin: 0;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar nav a {
  color: green;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.3s;
}

.sidebar nav a:hover {
  background-color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

